@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-purple: #6c4fbb;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #111;
  background: white;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  margin: 0;
  cursor: pointer;
}

ul {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 7rem;
}

li, a {
  font-size: 1rem;
  line-height: 1.2rem;
  text-decoration: none;
  font-weight: 400;
  list-style: none;
  cursor: pointer;
  margin: 0 1.8rem;
  color: #111;
}

.content {
  margin: 0 15%;
}

.hero {
  width: 100%;
  height: 23rem;
  display: flex;
  justify-content: space-between;
  background-color: #FBDFDB;
  border-radius: 1.9rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 7%;
}

.left h1{
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold; 
}

.left p {
  width: 20rem;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 400;
  opacity: 70%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 10%;
}

.main-content {
  margin: 3.1rem 0;
}

.main-content h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 0 0 1.25rem 0;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}

.card {
  transition: all 0.2s ease 0s;
  position: relative;
  cursor: pointer;
}

.card:hover {
  opacity: 80%;
}

.card__image img {
  max-width: 17.75rem;
  border-radius: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__content h3 {
  margin: 1.25rem 0 0 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.card__content p {
  margin: 0.5rem 0 0 0;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 400;
  color: #777;
}

footer {
  width: 100%;
  height: 3.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

footer p {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 400;
  color: #999;
}

/*=== ABOUT ===*/


.about-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 3.5rem 0 1.25rem 0;
}

.about-subtitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.25rem 0;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
  color: #444;
}

/*=== MODAL ===*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  position: relative;
  width: 90%;
  max-width: 41.25rem;
  height: 90%;
  max-height: 26rem;
  margin: 0 auto;
  border-radius: 1rem;
  
}

.modal .close-modal {
  color: #999;
  position: absolute;
  cursor: pointer;
  left: 39%;
  bottom: 2rem;
}

/*=== MODAL.ACTIVE ===*/

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 90%;
  height: 50%;
  position: absolute;
  border-radius: 1rem !important;
  padding: 5%;
  top: 5%;
}

